<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>工单管理系统</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    #parse("head.vm")
</head>

<body class="no-skin">
    #parse("navbar.vm")

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {ace.settings.loadState('main-container')} catch (e) {}
    </script>

    #parse("siderbar.vm")

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">订单管理</a>
                    </li>
                    <li class="active">订单查询</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <form class="form-group-sm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">京东订单号</span>
                                    <input id="aaa" type="text" class="form-control" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">商家订单号</span>
                                    <input id="aaa" type="text" class="form-control" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">预订日期</span>
                                    <input type="text" name="bbb" class="form-control" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">出票日期</span>
                                    <input type="text" name="bbb" class="form-control" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info" onclick="getValue();">获取</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.page-header -->
            </div>
        </div><!-- /.main-content -->

        #parse("footer.vm")
    </div><!-- /.main-container -->
</div>
    #parse("foot.vm")

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        function getValue() {
            console.log($('#aaa').val());
            console.log($('input[name="bbb"]').val());
            var $aaa = $('#aaa');
            $.each($aaa, function (index, ele) {
                var val = $(this).val();
                console.log(val);
            })
        }
        $(function () {
            console.log($('#aaa').val());
            console.log($('input[name="bbb"]').val());
        });
    </script>
</body>
</html>